archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1733827268945/work
brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560622100/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1733218092148/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1734687415662/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1733314767897/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1733855758490/work
conda-package-streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841376066/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302889598/work
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1735806586520/work/libmambapy
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1731147019402/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pip @ file:///home/conda/feedstock_root/build_artifacts/pip_1734466212593/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1732588445684/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pysocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
ruamel-yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1728765026252/work
ruamel-yaml-clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1728724493881/work
setuptools==75.6.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
wheel==0.45.1
zstandard==0.23.0
